# .env
NODE_ENV=development  # ou production
PORT=3443

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/promovida_db?schema=public

# internal 
DATABASE_URL="postgresql://root:4lU9zZ98KRV3QLvQnQ1lRijTqLQMExT8@dpg-d6vm90vgi27c73f33dfg-a/promovida_db?sslmode=require"

# external
DATABASE_URL="postgresql://root:4lU9zZ98KRV3QLvQnQ1lRijTqLQMExT8@dpg-d6vm90vgi27c73f33dfg-a.oregon-postgres.render.com/promovida_db?sslmode=require"

JWT_SECRET=uma-chave-segura-muito-longa-aqui-2026
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

COOKIE_SECRET=uma-chave-super-segura-gerada-com-openssl-rand-hex-64

AI_PROVIDER=gemini
GEMINI_API_KEY=sua-chave-google
GROK_API_KEY=sua-chave-xai  # se usar
OPENEVIDENCE_API_KEY=...    # se disponível